body {
    display: flex;
    background-color: #0D1117;
}

#title-wrapper {
    display: flex;
    flex-direction: row;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    margin-left: 20px;
    text-shadow: 0px 0px 3px #b57ef5;
}

#title-top {
    color: #ebe4f0;
}

#title-bottom {
    color: #8B5CF6 ;
}